<h2>Digital Thermometer Simulator</h2>

<div  class ="reading">
  <mat-radio-group
    class = "radiogroup"
    aria-label="Select an option"   (change)="radioChange($event)" >
    <mat-radio-button value="Adults" checked="true">Adults</mat-radio-button>
    <mat-radio-button value="Children">Children</mat-radio-button>
    <mat-radio-button value="Babies">Babies</mat-radio-button>
  </mat-radio-group>

  <h3>Outcome:</h3>
  <p>{{temp}}  {{type}}</p>
  <p>{{advice}}</p>
</div>
<mat-slider
  class=" mat-slider-vertical" vertical
  min="90" max="105" step="0.1"
  tickInterval="10"
  thumbLabel

  (input)="changeValue($event)"
  value = "95" aria-label="units">
</mat-slider>
