h2{

  text-align: center;
}
mat-slider {
  background-color: dimgrey;
  height: 300px;
  // width: 50%;
  margin-left: 15%;
  margin-top: 50px;

}


mat-radio-button {
  // color: blue;
  // background-color: dimgrey;
  margin: 5%;
}

.reading {
  margin-left: 15%;
  margin-top: 50px;
  float: left;
  width: 35%;
}

.radiogroup {
  display: flex;
  flex-direction: column;
  margin: 2%;

  align-items: flex-start;


}
